@import "../../../../UI/constants.scss";

.message {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.message__content {
  max-width: 500px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message__avatar {
  width: 40px;
  margin-bottom: 20px;
  img {
    border-radius: 50%;
  }
}

.message__border {
  padding: 10px;
  background-color: $secondMainColorDark;
  border-radius: 15px;
}

.message__text {
  color: $mainColor;
}

.message__date {
  color: $hintText;
  font-size: 0.7em;
}

.message_answer {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  gap: 15px;
}

.message__content_answer {
  max-width: 500px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.message__checked {
  margin-bottom: 10px;
  letter-spacing: -8px;
  color: $hoverColor;
}

.epty__messages {
  height: calc(100vh - 300px);
  transform: translateY(50%);
}
