@import "../../UI/constants.scss";

.dialog-message__container {
  border: 1px solid black;
  border-radius: 10px;
  .dialog-message__message {
    display: flex;
    flex-direction: column-reverse;
    padding: 5px 10px;
  }
  .message__time {
    color: $hintText;
    font-size: 0.7em;
  }
}

#createRoom {
  cursor: pointer;
  border-radius: 25px;
  padding: 10px 30px;
  background-color: #ffd463;
  color: $secondMainColorDark;
  font-family: sans-serif;
  border: none;
  transition: all 0.4s;
  &:hover {
    transform: scale(1.05);
  }
}
