$mainColor: rgb(255, 255, 255);
$brightColor: #ffd463;
$secondMainColor: #001529;
$hintText: darkgray;
$hoverColor: #1677ff;

$mainColorDark: #333333;
$secondMainColorDark: #434343;
$hintTextDark: rgb(169, 169, 169);
