@import "../../UI/constants.scss";

.main {
  display: flex;
  gap: 20px;
}

.main__dialog {
  flex-grow: 1;
  margin: 0 20px;
}

.contacts__list {
  margin: 10px 0;
}

.dialog__user {
  text-align: center;
  margin-bottom: 20px;
  .user__status {
    color: $hintText;
    font-size: 0.8em;
  }
}

.dialog__send-message {
  position: relative;
  .send-message__panel {
    position: absolute;
    top: 5px;
    right: 10px;
    display: flex;
    gap: 10px;
  }
}

.panel__record {
  cursor: pointer;
  .active {
    display: none;
  }
}
