@import "../../UI/constants.scss";

.header {
  background-color: $secondMainColor;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  color: $mainColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
}

a {
  text-decoration: none;
}
